.divIframe{
    position: absolute;
    width: 1200px;
    height: 900px;
    margin-left: 30%;
    margin-top: 100px;
}
.iframe{

    transform: scale(.8);
    width: 0px;
    height: 0px;
    padding-left: 20px;
    /*margin-top: 10%;*/
}
.iframe.active{
    transform: scale(.8);
    width: 100%;
    height: 750px;
    padding-left: 20px;
    /*margin-top: 10%;*/
}
body{
    background-color: #dceaf3;

}
.list-group{
    width: 30%;

}