button{
    background-color: #31C4D2;
    color: white;
    width: 15%;
    height: 40px;
    margin-right: 40px;
    /*margin-left: 1%;*/
    font-size: 120%;
    display: block;
    border: 2px solid #B2B2B2;
    border-radius: 8px;
    text-align: center;
    float: left;
}
.button1{
    /*background-color: #0fdcef;*/
    /*color: white;*/
    /*width: 20%;*/
    /*height: 40px;*/
    /*margin-right: 40px;*/
    margin-left: 1%;
    /*display: block;*/
    /*border: 2px solid #d4c9c9;*/
    /*border-radius: 8px;*/
    /*text-align: center;*/
    /*float: left;*/
}
.button2{
    /*background-color: #0fdcef;*/
    /*border: 2px solid #d4c9c9;*/

}
.button3{
    background-color: #cccccc;
    color: #999;
    width: 12%;
    height: 40px;
    /*margin-top: 40px;*/
    margin-left: 10%;
    display: block;
    border: 2px solid #B2B2B2;
    border-radius: 8px;
    text-align: center;
}